@use "colors" as *;

$radius-sm: 12px;
$radius-md: 14px;
$radius-lg: 16px;

window.Bar {
	background: $surface;
	font-weight: bold;
	padding: 6px 0px;

	button {
		border-radius: 8px;
		margin: 2px;
	}
}

window.Frame {
	color: $surface;
}
