@use "colors" as *;
@use "fonts/fonts";

// tune
$opacity: 0.66;

$bg: rgba($surface, $opacity);
$fg: $on-surface;
$radius-sm: 12px;
$radius-md: 14px;
$radius-lg: 16px;

window {
	font-family: "Clash Display";
	font-size: 16px;
	font-weight: 400;
}

window.Bar {
	min-height: 28px;
	background-color: $bg;
	color: $fg;
	padding: 8px 8px;

	* {
		font-size: 1rem;
	}

	.pill {
		font-weight: 600;
		padding: 4px 12px;
		border-radius: $radius-md;
		background-color: $primary;
		color: $on-primary;
	}
}

window.Frame {
	color: $bg;
}
